*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

ul{
  list-style: none;
}

:root{
  --section-padding: 60px;
  --first-color:#008080;
  --second-color:#024f4f;
  --third-color:#ff914c;
  --font-family: "cairo" , arial;
  --font-family1: "work-sans" , arial;
}

body{
  font-family: "cairo" , sans-serif;
  background-color: #024f4f;
}

.container{
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px){
  .container{
      width: 750px;
  }
}

@media (min-width: 992px){
  .container{
      width: 970px;
  }
}

@media (min-width: 1200px){
  .container{
      width: 1170px;
  }
}

/* start contact */
.contact{
  margin-top: 150px;
}
.container{
  display:grid;
  grid-template-areas: 
          "work work work work"
          "mail mail phone phone"
          "whatsapp whatsapp facebook facebook"
          "instagram instagram youtube youtube"
          "tiktok tiktok linkedin linkedin";
row-gap: 25px;
column-gap:25px;
width:75%;
}
@media (min-width:768px){
  .container{
    width:80%;
  }
}
.work{grid-area: work; }
.email{grid-area: mail; }
.phone{grid-area: phone; }
.whatsapp{grid-area: whatsapp; }
.facebook{grid-area: facebook; }
.instagram{grid-area: instagram; }
.youtube{grid-area: youtube; }
.tiktok{grid-area: tiktok; }
.linkedin{grid-area: linkedin; }

.work{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 18px;
  text-align: center;
}
.email,
.phone,
.whatsapp,
.facebook,
.instagram,
.youtube,
.tiktok,
.linkedin{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 18px;
  padding: 35px 0px;
  text-align: center;
  text-decoration: none;

}
.container i{
  font-size: 35px;
  color: #033838;
}
.container img{
  width: 40px;
}
.container h3{
  font-size: 20px;
  color: var(--first-color);
  font-weight: bold;
}
@media (min-width:768px){
  .work{
    padding:30px 0;
  }
}
@media (max-width:767px){
  .container{
    row-gap: 25px;
    column-gap: 14px;
    width:100%;
  }
  .work{
    padding:20px 54px;
  }
}
.contact a{
  transition:0.5s;
}
.contact a:hover{
  box-shadow: 0 0 30px -3px var(--first-color);
}
/* end contact */

.social{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
  background-color: white;
  box-shadow: 0 0 10px 1px;
  font-size: 20px;
}
.social i{
  color:var(--first-color);
}
.social i:hover{
  color:rgb(0, 0, 0);
}
/* end social */

/* start night-page */
.btn{
  width: 75px;
  height: 30px;
  position: relative;
  border-radius: 20px;
  display: flex;
  align-items: center;
  left: 20px;
  justify-content: space-around;
}

.btn i.active{
background-color: yellow;
color:var(--first-color);

}
.btn .morning{
color:yellow;
background-color: var(--first-color);
padding: 5px 10px 5px 7px;
border-right-width: 20px;
border-radius: 0 15px 15px 0;
position: absolute;
right: 0;

}
.btn i{
font-size:17;
}
.btn .night{
padding: 5px 10px 5px 7px;
border-right-width: 20px;
border-radius: 15px 0 0 15px;
position: absolute;
left: 0;
background-color: var(--first-color);
color:white;
}
.night-page{
background-color:var(--first-color);
}
/* .night-page .contact h1{
color:white;
} */
.night-page .work{
background-color:white;
}
.night-page .work h3{
color:var(--first-color);
}
.night-page .contact a{
background-color: white;
color:var(--first-color);
}
.night-page .contact a h3{
color:var(--first-color);
}
.night-page .footer{
background-color: white;
}
/* end night-page */