
a{
  text-decoration:none;
}
:root {
--blue-color: #0075ff;
--blue-alt-color: #0d69d5;
--orange-color: #f59e0b;
--green-color: #22c55e;
--red-color: #f44336;
--grey-color: #888;
}
/* Start Box */
.flex-one{
  flex:1;
}
.d-flex {
display: flex;
}
.f-wrap {
flex-wrap: wrap;
}
.align-center {
align-items: center;
}
.align-start {
align-items: start;
}
.space-between {
justify-content: space-between;
}
.d-grid {
display: grid;
}
.gap-25 {
gap: 25px;
}
.gap-12 {
gap: 12px;
}
.d-block {
display: block;
}
.d-none{
display: none;
}
@media (max-width: 767px) {
.block-mobile {
  display: block;
}
.hide-mobile {
  display: none;
}
}
/* End Box */
/* Start Padding + Margin */
.p-10 {
padding: 10px;
}
.p-15 {
padding: 15px;
}
.p-20 {
padding: 20px;
}
.pt-10 {
padding-top: 10px;
}
.pt-15 {
padding-top: 15px;
}
.pt-20 {
padding-top: 20px;
}
.pb-10 {
padding-bottom: 10px;
}
.pb-15 {
padding-bottom: 15px;
}
.pb-20 {
padding-bottom: 20px;
}
.pl-15 {
padding-left: 15px;
}
.m-0 {
margin: 0;
}
.m-15 {
margin: 15px;
}
.m-20 {
margin: 20px;
}
.mt-0 {
margin-top: 0;
}
.mt-5 {
margin-top: 5px;
}
.mt-10 {
margin-top: 10px;
}
.mt-15 {
margin-top: 15px;
}
.mt-20 {
margin-top: 20px;
}
.mt-25 {
margin-top: 25px;
}
.mr-10 {
margin-right: 10px;
}
.mr-15 {
margin-right: 15px;
}
.mb-5 {
margin-bottom: 5px;
}
.mb-10 {
margin-bottom: 10px;
}
.mb-15 {
margin-bottom: 15px;
}
.mb-20 {
margin-bottom: 20px;
}
.mb-25 {
margin-bottom: 25px;
}
/* End Padding + Margin */
/* Start Color */
.c-black {
color: black;
}
.c-white {
color: white;
}
.c-grey {
color: var(--grey-color);
}
.c-red {
color: var(--red-color);
}
.c-green {
color: var(--green-color);
}
.c-blue {
color: var(--blue-color);
}
.c-orange {
color: var(--orange-color);
}
.bg-red {
background-color: var(--red-color);
}
.bg-green {
background-color: var(--green-color);
}
.bg-blue {
background-color: var(--blue-color);
}
.bg-orange {
background-color: var(--orange-color);
}
.bg-white {
background-color: white;
}
.bg-eee {
background-color: #eee;
}
/* End Color */
/* Start Position */
.p-relative {
position: relative;
}
.p-absolute {
position: absolute;
}
/* End Position */
/* Start Font */
.text-c {
text-align: center;
}
.fs-13 {
font-size: 13px;
}
.fs-14 {
font-size: 14px;
}
.fs-15 {
font-size: 15px;
}
.fs-25 {
font-size: 25px;
}
.fw-bold {
font-weight: bold;
}
@media (max-width: 767px) {
.txt-c-mobile {
  text-align: center;
}
}
/* End Font */
/* Start Border */
.rad-6 {
border-radius: 6px;
}
.rad-10 {
border-radius: 10px;
}
.rad-half {
border-radius: 50%;
}
.b-none {
border: none;
}
.border-ccc {
border: 1px solid #ccc;
}
.border-eee {
border: 1px solid #eee;
}

/* End Border */
/* Start Width + Height */
.w-full {
width: 100%;
}
.w-100on4{
  width: calc(100%/4);
}
.w-100 {
width: 100px;
}
.w-fit {
width: fit-content;
}
.h-full {
height: 100%;
}
.h-100 {
height: 100px;
}
/* End Width + Height */
/* Start Components */
.center-flex {
display: flex;
align-items: center;
justify-content: center;
}
.between-flex {
display: flex;
align-items: center;
justify-content: space-between;
}
.evenly-flex {
display: flex;
align-items: center;
justify-content: space-evenly;
}
.btn-shape {
padding: 4px 10px;
border-radius: 6px;
}
.flex-column{
  display: flex;
  flex-direction: column;
}
.flex-row{
  display: flex;
  flex-direction: row;
}
/* End Components */

/* start head-sec */
h1.heade-sec{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: white;
  margin: auto;
  margin-bottom: 25px;
  border-radius: 5px;
  box-shadow: 0 0 10px;
  font-size: 25px;
  padding: 15px;
  font-weight: bold;
  width: 80%;
}
@media (max-width:767px){
  h1.heade-sec{
    width: 90%;
  }
}

 h1.heade-sec::before{
  content: "";
  background-color: var(--third-color);
  width: 4px;
  height: 100%;
  position: absolute;
  left: 0;
  border-radius: 35px;
}
 h1.heade-sec::after{
  content: "";
  background-color: var(--third-color);
  width: 4px;
  height: 100%;
  position: absolute;
  right: 0;
  border-radius: 35px;
}
/* end head-sec */

/* start head-sec 2*/


h1.header-sec{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: white;
  margin: 0 13px 30px 13px;
  border-radius: 5px;
  box-shadow: 0 0 10px;
  font-size: 25px;
  padding: 10px;
  font-weight: bold;
}
 h1.header-sec::before{
  content: "";
  background-color: var(--third-color);
  width: 4px;
  height: 100%;
  position: absolute;
  left: 0;
  border-radius: 35px;
}
 h1.header-sec::after{
  content: "";
  background-color: var(--third-color);
  width: 4px;
  height: 100%;
  position: absolute;
  right: 0;
  border-radius: 35px;
}
/* end head-sec 2*/


/* start loading */
.loading {
  background-color: #fff;
  color: var(--second-color);
  font-family: Consolas, Menlo, Monaco, monospace;
  font-weight: bold;
  font-size: 78px;
  position: fixed;
  z-index: 99999999999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 2px;
}
.loading img{
  width:145px;
}
.loading:before {
  content: "{";
  display: inline-block;
  animation: pulse 0.4s alternate infinite ease-in-out;
}
.loading:after {
  content: "}";
  display: inline-block;
  animation: pulse 0.4s 0.3s alternate infinite ease-in-out;
}

@keyframes pulse {
  to {
    transform: scale(0.8);
    opacity: 0.5;
  }
}
    


/* start header*/
header{
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  text-align: center;
  width: 100%;
  padding: 16px;
  z-index:9999999999;
  top:0;
}
header.back-c{
  background-color: var(--first-color);
}
header ul {
  display: flex;
  list-style: none;
  gap: 25px;

}
header ul li a {
  color: white;
  font-size: 20px;
  text-decoration: none;
}
header ul li i{
  color: white;
  margin-left: 12px;
  margin-right: 10px;
}
header ul li ul{
  position: absolute;
  display: none;
  flex-direction: column;
  text-wrap: nowrap;
  background-color: var(--first-color);
  padding: 0;
  text-align: start;
  margin-top: 15px;
  border-radius: 5px;
  gap: 0;
}
header ul li ul.show{
  display :flex;
}
header ul li ul li{
  width:100%;
  padding: 15px 25px;
}
header ul li ul li a{
  font-size:16px;
}
header li ul li:hover{
  background-color: var(--third-color);
}
@media (min-width:768px){
  header .links .openbtn{
    display: none;
  }
  header .links nav ul li a.closebtn{
    display: none;
  }
}
@media (max-width:767px){
  header .links .openbtn{
    display: flex;
    flex-direction: column;
    gap: 7px;
  }
  header .links .openbtn span{
    background-color: white;
    width: 27px;
    height: 2px;

  }
  header .links nav{
    display:none;
  }
  header .links ul.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--first-color);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    flex-direction: column;
    align-items: start;
    margin:0;
  }
  #main {
    transition: margin-left .5s;
    width:100%;
  }
  header .links nav ul li a.closebtn{
    font-size: 35px;
    position: absolute;
    left: 80%;
    top: 20px;
  }
  
  header .links nav ul li a:hover{
    background-color:var(--second-color);
    color:white;
    padding:3px;
    text-decoration: none;
    border-radius: 5px;
  }
  header ul li ul.show{
    display :flex;
    position:relative;
  }
}
/* end header */

/* start footer */
.footer{
  display: flex;
  background-color: white;
  padding: 20px;
  justify-content: center;
  align-items: center;
  gap: 18px;
  margin-top: 35px;
  width:100%;
  position: relative;
}
.footer a img{
  width: 31px;
  background-color: #d4e2f1;
  padding: 5px;
  border-radius: 5px;
}
.footer::before{
  content: "";
  position: absolute;
  background-image: linear-gradient(to left, var(--blue-color) 25%, var(--orange-color) 25% , var(--orange-color) 50%,var(--green-color) 50% , var(--green-color) 75%,var(--red-color) 75%, var(--red-color) 100%);
  width: 100%;
  height: 3px;
  left: 0;
  top: 0;
}
/* end footer */

