*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

ul{
  list-style: none;
}

:root{
  --section-padding: 60px;
  --first-color:#008080;
  --second-color:#024f4f;
  --third-color:#ff914c;
  --font-family: "cairo" , arial;
  --font-family1: "work-sans" , arial;
}

body{
  font-family: "cairo" , sans-serif;
  background-color: #024f4f;
}

.container{
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px){
  .container{
      width: 750px;
  }
}

@media (min-width: 992px){
  .container{
      width: 970px;
  }
}

@media (min-width: 1200px){
  .container{
      width: 1170px;
  }
}

/* strat solve */

@media (min-width:768px){
  .gt-qu{
    margin: 0 15%;
    padding: 150px 15px 15px 15px;
  }
}
/* .gt-qu{
  padding-bottom: 90px; 
} */
 h1.header-sec{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: white;
  margin: 0 13px 30px 13px;
  border-radius: 5px;
  box-shadow: 0 0 10px;
  font-size: 25px;
  padding: 10px;
  font-weight: bold;
}
 h1.header-sec::before{
  content: "";
  background-color: var(--third-color);
  width: 4px;
  height: 100%;
  position: absolute;
  left: 0;
  border-radius: 35px;
}
 h1.header-sec::after{
  content: "";
  background-color: var(--third-color);
  width: 4px;
  height: 100%;
  position: absolute;
  right: 0;
  border-radius: 35px;
}
.que{
  background-color: white;
  padding: 17px;
  margin: 10px;
  border-radius: 6px;
  overflow:hidden;
}

.que h4{
  font-size: 17px;
  background-color: #efefef;
  padding: 10px 30px;
  border-radius: 7px;
  position: relative;
  display: flex;
  align-items: center;
  transition: 1s;
  font-weight:bold;
}
.que h4.ar{
  direction: rtl;
  padding:10px 20px;
  display:none;
}
.que h4.ar::after{
  content: "";
  border-radius: 10px;
  content: "";
  position: absolute;
  background-color: var(--first-color);
  width: 4px;
  height: calc(100% - 20px);
  right: 7px;
  top: 10px;
}
.que h4:hover{
  color: var(--second-color);
  box-shadow: 0 0 17px -6px;
}
.que h4:nth-child(1):before{
  content: "";
  border-radius: 10px;
  content: "";
  position: absolute;
  background-color: var(--first-color);
  width: 4px;
  height: calc(100% - 20px);
  left: 7px;
  top: 10px;
  
}
.que code{
  display:none;
}
.que hr{
  display:none;
}
pre{
  background-color: black;
  padding: 30px 0;
  border-radius: 5px;
  color:white;
  position:relative;
}

span.copy{
  position: absolute;
  border-radius: 5px;
  right: 10px;
  top: 10px;
  z-index: 1;
  color: white;
  display: none;
  transition: 0.3s;
  right: 40px;
}
code:hover span.copy{
  display:flex;
}
i{
  position: absolute;
  border-radius: 5px;
  right: 10px;
  top: 10px;
  z-index: 1;
  color: white;
  display: none;
  font-size: 22px;
}
.burlywood{
  color:burlywood
}
.darkcyen{
  color: var(--first-color);
}
.light-brown{
  color: rgb(228, 168, 89);
}
.gt-qu{
  padding-top: 150px;
}
code{
  position:relative;
}
.blue{
  color: #7a7aff;
}
.que.active code{
  display: block;
}
.que.active h4.ar{
  display: block;
}
.que.active hr{
  display: block;
}
/* end solve */